/* TABLET */

@media screen and (min-width: 480px) {
    .filter-options h2 {
        display: unset;
    }
    .filter-options select {
        min-height: 0;
        width: auto;
    }
}

/* DESKTOP */

@media screen and (min-width: 839px) {
    #restaurants-list,
    #reviews-list {
        display: flex;
        flex-wrap: wrap;
    }
    #restaurants-list li {
        width: calc(50% - 4px - 1.6em - 2em);
    }
    #reviews-list li {
        width: calc(50% - 4px - 2em)
    }
}

/* BIGGER DESKTOPS */

@media screen and (min-width: 1024px) {
    #restaurants-list,
    #restaurant-container,
    #reviews-container {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    #restaurants-list li {
        width: calc(33% - 4px - 1.6em - 2em);
    }
}