@media screen and (min-width: 1024px) {
    .inside #map-container,
    #restaurant-container {
        width: 50%;
        margin: 0;
        padding: 0;
        border: 0;
    }
    #restaurant-name {
        display: none;
    }
    .inside #map-container {
        order: 2;
        height: 640px;
    }
    #restaurant-container {
        order: 1;
    }
    #reviews-container {
        order: 3;
    }
    #restaurant-address,
    #restaurant-hours {
        padding-left: 1.5em;
    }
    #breadcrumb li:last-of-type {
        color: #f18200;
        font-family: Arial, sans-serif;
        font-size: 20pt;
        font-weight: 200;
        letter-spacing: 0;
        margin: 15px 0 30px;
        text-transform: uppercase;
        line-height: 1.1;
    }
}