.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 420px;
    right: 0;
    width: 100%;
  }
  
  .inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }
  
  #restaurant-name {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
  }
  
  #restaurant-img {
    width: 100%;
  }
  
  #restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
  }
  
  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  
  #restaurant-container,
  #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 1em;
    width: 100%;
  }
  
  #reviews-container {
    padding: 1em;
  }
  
  #reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }
  
  #reviews-list {
    margin: 0;
    padding: 0;
  }
  
  #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0.5em;
    overflow: hidden;
    padding: 0.5em;
    position: relative;
    width: calc(100% - 4px - 2em)%;
  }
  
  #reviews-list li p {
    margin: 0 0 10px;
  }
  
  #restaurant-hours td {
    color: #666;
  }