@charset "utf-8";
/* CSS Document */

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: calc(100% - 80px);
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: black;
  text-decoration: underline;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline overline;
}

/* ====================== Map ====================== */

#map,
#map-container {
  /* height: 400px;
  width: 100%;
  background-color: #ccc; */
  display: block;
  margin: 0 auto;
  max-width: 100%;
  transition: 1s;
  transition-property: initial;
  transition-duration: 1s;
  transition-timing-function: initial;
  transition-delay: initial;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  background-color: #3397DB;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  display: none;
  /* in small viewports I prefere to save this space */
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  letter-spacing: 0;
  margin: 10px;
  width: calc(50% - 24px);
  min-height: 48px;
  /* in small viewports I'd like to be sure to touch the select boxes */
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  text-align: center;
  width: 100%;
  /* Had to override user agent stylesheet since it was killing restaurants readability in chrome */
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 0.5em 1em;
  padding: 0.8em;
  text-align: left;
  width: calc(100% - 4px - 1.6em - 2em);
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: black;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.operations-container {
  width: 100%;
}

.operations-container a {
  display: inline-block;
}


/* USEFUL FOR NICE TRANSITION IN LAZY LOADING IMAGES */

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

/* TABLET */

@media screen and (min-width: 480px) {
  .filter-options h2 {
    display: unset;
  }
  .filter-options select {
    min-height: 0;
    width: auto;
  }
}

/* DESKTOP */

@media screen and (min-width: 600px) {
  #restaurants-list,
  #reviews-list {
    display: flex;
    flex-wrap: wrap;
  }
  #restaurants-list li {
    width: calc(50% - 4px - 1.6em - 2em);
  }
  #reviews-list li {
    width: calc(50% - 4px - 2em)
  }
}

/* BIGGER DESKTOPS */

@media screen and (min-width: 980px) {
  #restaurants-list li {
    width: calc((33% - 4px - 1.6em - 2em));
  }
}

@media screen and (min-width: 1024px) {
  nav,
  #maincontent {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}